/* = 404
==============================================*/
.qt-404-container {
	min-height: 80%;
	min-height: 80vh;
	padding: 150px 0 90px 0;

	.qt-errorcode {
		text-align: center;
		display: block;
		clear: both;
		font-size: 4em;
		line-height: 1em;
	}
}