/* Author */
$photo-size: 110px;
.qt-post-author {
	margin-top: 2rem;
	display: table;
	a.qt-author-thumbnail {
		img {
			width: 100%;
			height: auto;
		}
		width: $photo-size;
		height: $photo-size;
		display: block;
		float: none;
		margin: 50px auto;
	}
	.qt-post-author-data {
		display: block;
	    float: none;
	    width: 100%;
	    padding: 0;

		.qt-authorheader {
			line-height: 1em;
			border-bottom: 2px solid #555;
			padding: 0 0 1rem 0;
			.qt-authorname {
				display: inline-block;
				text-rendering: auto;
			}
			.qt-authorsocial {
				display: inline-block;
				float: right;
				
				margin: 0;
				a {
					color: inherit;
					line-height: 50px;
					height: 50px;
					vertical-align: middle;
					display: inline-flex;
					i {
						font-size: 18px;
						display: inline;
						vertical-align: middle;
						margin: 0 2px;
						opacity: 0.6;
					}
					&:hover {
						i {
							opacity: 1;
						}
					}
				}
			}
		}
		.qt-post-author-bio {
			margin-top: 0.5rem;
			margin-bottom: -0.5rem;
		}
		
	}
	.qt-post-author-link {
		padding-top: 2rem;
		a.qt-btn {
			width:100%;
		}
	}
}

