.qt-booking-contacts {
	h6 {
		opacity: 0.6;
		margin: 1rem 0 0 0;
	}
	h5 {
		margin: 3px 0 1rem 0;
	}
}

.qt-bookingform {
	.row {
		margin-top: 8px;
	}
	.input-field label {
		top: 0.5rem;
		&.active {

		}
	}
}