
.qt-commentsblock {
	h3+p.qt-item-metas.qt-commentscount {
		margin-top: 0;
		padding-top: 0;
	}
}
.qt-commentscaption {
	margin-bottom: 0;
}
.qt-part-post-comments {
	

	.qt-comment-list {
		margin: 0;
		padding: 0;
		
		li.qt-comment-item {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;
			border-bottom: 2px solid rgba(100,100,100,0.3);
			padding-bottom: 40px;
			padding-top: 40px;
			.qt-comment-image {
				.qt-user-icon {
					font-size: 40px;
					opacity: 0.6;
					padding-top: 8px;
				}
			}
			#respond {
				clear: both;
				padding-top: 20px;
			}
			&.parent {
				.comment-content {
					margin-bottom: 1rem;
				}
			}
			ul.children {
				margin-left: 1rem;
				li.qt-comment-item {
					margin-top: 1rem;
					padding-top: 1rem;
					clear: both;
					padding-bottom: 1rem;
					&:first-child {
						border-top: 1px dotted rgba(100,100,100,0.3);
					}
					&:last-child {
						border-bottom: none;
						padding-bottom: 0;
					}
				}
			}	
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				border-bottom: 2px solid rgba(100,100,100,0.3);
				padding-bottom: 1rem;
				margin-bottom: 1.4rem;
			}
			&::after {
				display: table;
				width: 100%;
				content: " ";
				clear: both;

			}
			.qt-the-content {
				margin: 1rem 0;
				line-height: 1.7em;
				font-size: 1rem;
				h6 {
					font-size: 0.889rem;
				}
				h5 {
					font-size: 1rem;
				}
				h4 {
					font-size: 1.125rem;
				}
				h3 {
					font-size: 1.266rem;
				}
				h2 {
					font-size: 1.424rem;
				}
				h1 {
					font-size: 1.602rem;
				}
			}
			.qt-comment-image {
				width: 40px;
				float: left;
				display: block;
				img {
					width: 100%;
					height: auto;
				}
			}
			.qt-comment-text {
				width: calc(100% - 40px);
				float: left;
				padding-left: 1.4rem;
				.qt-commentheader {
					margin-top: 0;
				}
				
				.qt-commentheader a, .qt-commentdetails a {
					color: inherit;

				}
				.qt-small {
					opacity: 0.5;
					margin-top: 0.2rem;
				}
			}
		}
	}
}

.comment-respond {

	form {
		.input-field label {
			left: 0;
		}
		textarea {
			padding: 1rem 0;
			border-width: 2px;
			height: 5rem;
		}
	}
	.qt-cancel-reply {
		float: right;
		i {
			color: #f00;
		}
	}
}
p.qt-comment-notes {
	font-size: 13px;
	opacity: 0.5;
	margin-top: 0 !important;
}
p.logged-in-as {
	margin: 0.5rem 0 1.2rem 0;
}
.input-field label.active {
	font-size: 13px;
}