.qt-item-metas {
	width: 100%;
	text-align: left;
	display: table;
	line-height: 30px;
	margin: 0;
	display: block;
	clear: both;
	opacity: .7;
	i {
		font-size: 1.2em;
		vertical-align: middle;
		margin-left: 10px;
		opacity: 0.6;
		&:first-of-type {
			margin-left: 0;
		}
	}
	a {
		font-weight: strong;
		&:hover {
			border-bottom: 1px solid;
		}
	}
	&.qt-small {
		font-size: 10px;
		line-height: 1em;
		margin: 4px 0 0 0;
		i {
			font-size: 1em;
			opacity: 1;

		}

	}
}