.qt-listenon {
	.qt-collapsible-body {
		overflow: hidden;
		.qt-listenlink {
			width: 50%;
			padding: 30px 4px;
			margin: 0;
			display: inline-block;
			float: left;
			text-align: center;
			border-top: 2px solid rgba(200,200,200, 0.05);
			overflow: hidden;
			text-overflow: ellipsis;
			&:nth-child(odd) {
				border-right: 2px solid rgba(200,200,200, 0.05);
			}
		}
	}
}