.qt-loadmore-container {
	a {
		i {
			animation: rotation 2s infinite linear;
			-webkit-animation: rotation 2s infinite linear;
		}
	}
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}