.qt-mediagallery {
	position: relative;
	margin: 0 0.05rem;
	.col {
		padding: 0;
	}
	a {
		display: block;
		width: 100%;
		padding-top: 56%;
		position: relative;
		overflow: hidden;
		background: rgba(0,0,0,0);
		transition: background 0.2s;
		i {
			display: block;
			color: #fff;
			font-size: 50px;
			top: 50%;
			position: absolute;
			left: 50%;
			margin: -20px 0 0 -20px;
			transition: opacity 0.3s;
			opacity: 0;
		}
		.qt-t  {
			position: absolute;
			color: #fff;
			padding: 2% 5%;
			z-index: 10;
			top: 0;
			width: 100%;
			left: 0;
			line-height: 1.05em;
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:hover {
			background: rgba(0,0,0,0.5);
			i {
				opacity: 1;
			}
			.qt-t  {
				opacity: 1;
			}
		}
	}
}