
.qt-mplayer {
	z-index: 2001;

	&__debugger {
		position: fixed;
		z-index: 9999999;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.7);
		color: #fff;
		padding: 10px;
		width: 200px;
		display: block;
		height: 300px;
		font-size: 8px;
		line-height: 1.3em;
		overflow: auto;
	}
	&__triucco {
		position: fixed;
		top: 52px;
		left: 0;
		background: rgba(0,0,0,0) !important;
		font-size: 0.1px;
		// vertical-align: bottom;
		width: 100%;
		width: 100vw;
		display: block;
		height: 100vh;
		z-index: 999999;
		h2 {
			display: none;
		}
		/*
		position: fixed;
		top: 61vh;
		left: 5vw;
		opacity: 0.8;
		text-align: left;
		padding: 20px;
		// vertical-align: bottom;
		width: 90%;
		width: 90vw;
		overflow: hidden;
		line-height: 33vh;
		display: block;
		height: 33vh;
		z-index: 999999;
		opacity: 0.9;
		text-align: center;
		h2 {
			margin-top: 15vh;
		}
		*/
	}

	&__header-play {
		span.qt-play {
			font-size: 90px;
			margin: 0;
			height: 90px;
			overflow: hidden;
			line-height: 90px;
			display: inline-block;
		}
	}
	&__playlistcontainer {
		position: fixed;
		top: 100%;
		width: 100%;
		height: 100%;
		height: 100vh;
		z-index: 2001;
		display: block;
		margin: 0;
		transition: top 0.5s ease;
		will-change: transform;
		padding-bottom: 60px;
		overflow-x: hidden;
		overflow-y: auto;
		transition-timing-function: cubic-bezier(0.42,0,0.1,1);
	}
	&__controls {
		height: 60px;
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
		z-index: 2002;
		transition: all 0.2s ease;
		-webkit-transform: translateZ(0);
		background: #000;
	}
	&__controllayer {
		display: block;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		z-index: 2002;
		height: 60px;
	}
	&__waves {    
		position: fixed;
		width: 100%;
		background: transparent;
		height: 80px;
		z-index: 100;
		content: " ";
		display: block;
		bottom: 0;
		left: 0;
		overflow: visible;
	}
	&__play, &__volume, &__cart, &__prev, &__next, &__playlistbtn, &__cover {
		display: block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 24px;
		float: left;
		text-align: center;
		color: #fff;
		cursor: pointer;
		i {
			vertical-align: -2px;
		}
	}
	&__notification {
		position: absolute;
		color: #fff;
		top: 0;
		right: 1px;
		font-size: 18px;
		line-height: 54px;
		width: 58px;
		height: 58px;
		padding: 0 3px;
		font-weight: bold;
		transform: scale(0);
		transition: transform 0.1s;
		will-change: transform;
		display: inline-block;
		top: 0%;
		left: 0%;
		margin-left: 0;
		margin-top: 1px;
		box-shadow: none;
		&.active {
			transform: scale(1);
			&::after, &::before {
				top: 3px;
				left: 3px;
				width: 54px;
				height: 54px;
				display: block;
				content: " ";
				border-radius: 50%;
				border: 3px solid;
				position: absolute;
				border-top-color: transparent;
				border-bottom-color: transparent;
				animation: rotationspin 0.8s infinite linear;
				-webkit-animation: rotationspin 0.8s infinite linear;
			}
		}
		&.qtmp-spinner {
			width: 60px;
			height: 60px;
			top: 0px;
			left: 0px;
			&::after, &::before {
				width: 50px;
				height: 50px;
				display: block;
				content: " ";
				border-radius: 50%;
				border: 6px solid;
				top: 5px;
				left: 5px;
				position: absolute;
				border-top-color: transparent;
				border-bottom-color: transparent;
				animation: rotationspin 1s infinite linear;
				-webkit-animation: rotationspin 1s infinite linear;
			}
			&::before {
				width: 34px;
				height: 34px;
				top: 13px;
				left: 13px;
				border: 4px solid;
				border-top-color: transparent;
				border-bottom-color: transparent;
				animation: rotationspinRev 2.6s infinite linear;
				-webkit-animation: rotationspinRev 2.6s infinite linear;
			}
			
		}
	}

	@-webkit-keyframes rotationspin {
			from {
					-webkit-transform: rotate(0deg);
			}
			to {
					-webkit-transform: rotate(360deg);
			}
	}
	@-webkit-keyframes rotationspinRev {
			from {
					-webkit-transform: rotate(270deg);
			}
			to {
					-webkit-transform: rotate(90deg);
			}
	}
	&__play {
		position: relative;
		overflow: hidden;
	}
	&__volume {
		display: none;
	}
	&__cart {
		display: none;
	}
	&__cover {
		display: none;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__prev {
		display: none;
	}
	&__next {
		display: none;
	}
	&__playlistbtn {
		float: right;
	}

	/* Track ================================= */
	&__track {
		width: calc(100% - 180px);
		padding: 0 10px;
		display: block;
		float: left;
		text-transform: uppercase;
		cursor: crosshair;
		position: relative;
		height: 100%;
		&:hover {
			.qt-mplayer-track-minicue {
				display: block;
			}
		}
	}
	&__rowone {
		display: block;
		white-space: nowrap;
		line-height: 1.2em;
		padding: 6px 0 0 0;
		color: #fff;
		margin-top: 2px;
		position: relative;
		z-index: 2;
		pointer-events:none;
	}
	&__rowtwo {
		font-size: 13px;
		display: block;
		white-space: nowrap;
		line-height: 13px;
		padding: 5px 0 0 0;
		font-weight: bold;
		position: relative;
		color: #fff;
		z-index:2;
		pointer-events:none;
	}
	&__title, &__artist {
		width: 80%;

		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__time, &__length {
		display: block;
		width: 20%;
		position: absolute;
		top: 4px;
		right: 0;
		font-size: 11px;
		font-weight: normal;
		text-align: right;
		line-height: inherit;
	}

	/* Single album  ================================= */
	&__album {
		text-align: center;
		line-height: 1;
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		padding-top: 100%;
		img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 0;
			left: 0;
		}
		&::after {
			display: block;
			content: " ";
			width: 100%;
			height: 60%;
			position: absolute;
			z-index: 1;
			bottom: 0;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}
		a {
			position: absolute;
			z-index: 10;
			bottom: 20px;
			margin: 0 15%;
			width: 70%;
			left: 0;
		}
	}

	/* Playlist  ================================= */
	&__playlist {
		width: 100%;
		text-align: left;

		ul.qt-playlist {
			padding-bottom: 70px;
			li {
				padding: 0;
			}
		}
	}
	&__btnspacer {
		display: inline-block;
		float: left;
		margin-right: 20px;
	}

	/* Waveform since 1.9  ================================= */
	&__waveform, &__waveformp {
		position: fixed;
		width: 100%;
		background: transparent;
		height: 130px;
		z-index: 100;
		content: " ";
		display: block;
		bottom: -65px;
		left: 0;
		overflow: visible;
		pointer-events: none;

		width: 0%;
		overflow: hidden;
		transition: width 0.6s ease;
		canvas {
			width: 100%;
			width: 100vw;
			height: 100%;
			opacity: 0.3;
			position: absolute;
		}
		&.loaded {
			width: 100%;
			width: 100vw;
		}
	}
	&__waveformp {
		width: 30%;
		overflow: hidden;
		img {
			width: auto;
			opacity: 0.3;
			max-width: 100vw;
		}
	}
}
.qt-play {
	cursor: pointer;
}
#qtBody.qt-mplayer-active { // body music player active
	height: 100% !important;
	height: 100vh  !important;
	overflow: hidden;
	.qt-mplayer {
		&__playlistcontainer {
			
			top: 0%;
			transition: top 0.7s ease;
		}		
		
	}
}


@media #{$medium-and-up} {
	.qt-mplayer {
		&__play, &__volume, &__cart, &__prev, &__next, &__playlist, &__cover {
			display: block;
			float: left;
		}
		&__volume, &__cart, &__prev, &__next, &__cover {
			width: 60px;
			i {
				opacity: 1;
			}
		}
		&__track {
			width: calc(100% - 420px);
		}

	}
}

@media only screen and (min-width:1201px){


	.qt-mplayer {
		&__footerlodge {
			display: block;
			height: 130px;
			background: #000;
			position: relative;
			content: " ";
			clear: both;
		}
		&__controls {
			border-radius: $qt-border-radius;
			box-sizing: content-box;
			width: 100%;
			overflow: hidden;
			left: 20px;
			padding: 0;
			bottom: 30px;
			background: rgba(0,0,0,0);
			transition: width 1.7s ease;
			width: calc(0% + 60px);
			overflow: hidden;

			transition-timing-function: cubic-bezier(0.2,1,0.2,1);
		}
		&__playlistcontainer {
			padding: 70px;
			ul.qt-playlist {
				li {
					overflow: hidden;
					max-height: 80px;
					transition: max-height .2s ease-in;
					.qtmusicplayer-del {
						display: block;
						position: absolute;
					    top: 50%;
					    font-size: 30px;
					    margin-top: -20px;
					    cursor: pointer;
					    right: -40px;
					    width: 40px;
					    height: 40px;
					    line-height: 40px;
					    text-align: center;
					    border-radius: 2px;
					    opacity: 0;
					    transition: opacity .2s;
					}
					&:not(.qt-deleted):hover {
						overflow: visible;
						.qtmusicplayer-del {
							opacity: 1;

						}
					}
					&.qt-deleted {
						overflow: hidden;
						max-height: 0px;
						&:hover {
							overflow: hidden;
							max-height: 0px;
						}
					}
				}
			}
		}
		&__play {
			border-radius: $qt-border-radius;
		}
		&__waves {    
			height: 130px;
			pointer-events: none;
		}
		&__play, &__volume, &__cart, &__prev, &__next, &__playlist, &__cover {
			display: block;
			float: left;
		}

		&__volume, &__cart, &__prev, &__next, &__cover {
			width: 60px;
			i {
				opacity: 1;
			}
		}
		&__track {
			width: calc(100% - 420px);
			transition: width 0.2s ease;
			height: 100%;
		}
		&__title, &__artist {
			width: calc(100% - 60px);
			opacity: 1;
			transition: width 0.05s, opacity 0.1s;
		}
		&__time, &__length {
			font-size: 13px;
			float: right;
			display: inline-block;
		}
		&__track{
			display: block;
			position: relative;
			margin-top: 0;
		}
		&__rowone {
			margin: 2px 0 2px 0;
		}
	
		
		&__volume {
			position: relative;
			cursor: crosshair;
			width: 60px;
			i {
				position: relative;
				z-index: 3;
			}
		}
		&__volfill, &__volcursor {
			display: block;
			width: 100%;
			height: 100%;
			content: " ";
			position: absolute;
			top: auto;
			left: 0;
			z-index: 0;
			bottom: 0;
		}
		&__volcursor {
			height: 1px;
			background: #fff;
			opacity: 0.6;
			z-index: 1;
			display: none;
		}
		&__volume:hover &__volcursor {
			display: block;
		}
		
		&__cart, &__cover, &__time, &__length, &__volume, &__prev, &__next, &__playlistbtn, &__track {
			opacity: 1;
		}
		&__playlistcontainer {
			top: 100%;
		}
		
		&__controls {
			width: 60px;
			height: 60px;
			overflow: hidden;
			word-break: keep-all;
			&::after {
				display: none;
				content: " ";
				position: fixed;
				width: 130%;
				width: 130vw;
				height: 350px;
				// background: rgba(0,0,0,0.2);
				z-index: 0;
				top: 350px;
				left: -70px;
				transition: top 0.3s ease;
				will-change: top;
			}
		}

		&__controllayer {
			display: block;
			height: 60px;
			border-radius: $qt-border-radius;
			transition-delay: 0.0s; 
			overflow: visible;
			background: rgba(0,0,0,1);
			width: 100%;
		}


		
		.qt-mplayer__controls {
			
		}
		.qt-mplayer__play {
			border-radius: $qt-border-radius 0 0 $qt-border-radius;
		}
		.qt-mplayer__playlistbtn {
			border-radius: 0 $qt-border-radius $qt-border-radius 0;
		} 
		&::after {
			top: 30px;
		}

		&__controls.open {
			width: calc(100% - 40px);
		}
	}
	.qt-mplayer-active {
		.qt-mplayer__playlistcontainer {
			top: 0%;
		}
		.qt-mplayer__controls {
			// overflow: visible;
			width: calc(100% - 40px);
			.qt-mplayer__controllayer {
				overflow: visible;
				background: rgba(0,0,0,1);
			}
			.qt-mplayer__controllayer {
				width: 100%;
				overflow: visible;
			}
			
			.qt-mplayer__play {
				border-radius: $qt-border-radius 0 0 $qt-border-radius;
			}
			.qt-mplayer__playlistbtn {
				border-radius: 0 $qt-border-radius $qt-border-radius 0;
			} 
		}
	}
}
@media only screen and(min-width:1420px) {
	.qt-mplayer{
		&__controls {
			left: 70px;
		}
		&__controls.open {
			width: calc(100% - 140px);
		}
	}
	.qt-mplayer-active {
		.qt-mplayer__controls {
			width: calc(100% - 140px);
		}
	}

}

/* since 2020 09 04 for ios13 */
#qtmusicplayer.qt-mplayer-mobile {
	.qt-mplayer__controls {
		opacity: 0.2;
		transform: translateY(100px);
		// transition: transform 0.3s cubix-bezier(0.2 0.9 0.2 0.9);
	}
}
.qt-mplayer-enabled {
	#qtmusicplayer.qt-mplayer-mobile {
		.qt-mplayer__controls {
			opacity: 1;	
			transform: translateY(0px);
		}
	}
}