
// Pagination
.qt-wp-pagination {
	float: none;
	clear: both;
	width: 100%;
	text-align: center;
	margin: 2rem 0 3rem 0;
	&::before {
		content: " ";
		display: table;
		clear: both;
		width: 100%;
		height: 1rem;
		float: none;
	}
	&--tracklist {
    	margin: 30px 0 !important;
    	padding: 0 0 30px 0 !important;
		&::before {
			display: none;
		}
	}
	ul.page-numbers {
		text-align: center;
		display: block;
		clear: both;
		padding: 0;
		li {
			display: inline-block;
			font-size: 1.2rem;
			border-radius: 2px;
			text-align: center;
			margin: 0 3px;
			line-height: 1rem;
			vertical-align: middle;
			a, > span {
				@extend .qt-btn;
				@extend .qt-btn-secondary;
				padding: 0 8px;
				min-width: 1.5rem;
				margin: 0;
				line-height: 1.5rem;
				height: 1.5rem;
			}
			> span.current {
				 @extend .qt-disabled;
			}
			&.disabled a {
				cursor: default;
			}
			i {
				margin-top: -1px;
				padding: 0;
			}
		}
		li.pages ul li {
			display: inline-block;
			float: none;
		}
	}
}

.qt-masonry {
	.qt-wp-pagination {
		position: absolute;
		bottom: 0;
		display: block;
		clear: both;
		&::before {
			content: " ";
			display: table;
			clear: both;
			width: 100%;
			height: 1rem;
		}
		.qt-loadmore-container {
			padding-top: 1rem;
			display: block;
			clear: both;
			.qt-btn {
				margin-top: 1rem;
			}
			span {
				text-align: center;
			}
		}
	}
}