.qt-part-event-inline {
	border-bottom: 2px solid;
	border-color: inherit;
	border-left: none;
	border-right: none;
	padding: 1.4rem 0 1rem 0;
	&:first-of-type {
		border-top: 2px solid white;
		border-color: inherit;
		margin-top: 1rem;
	}
	h3 {
		margin: 0;
	}
	.qt-item-metas {
		
	}
}
.qt-caption.qt-caption-event {
	margin-bottom: 0;
}
.qt-event-actions {
	padding-top: 1rem;
	a {
		margin: 0 4px;
	}
}