ul.qt-playlist {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	li {
		list-style: none;
		padding: 0;
		line-height: 1.2em;
		clear: both;
		display: block;
		border-bottom: 2px solid rgba(200,200,200,0.3);
		position: relative;
		* {
			// z-index: 2;
		}
		img {
			position: absolute;
			z-index: 0;
			height: 68px;
			width: 68px;
			left: 0;
			top: 0;
		}
		[data-autoembed] {
			position: relative;
			top: 5px;
		}
		&.qtmusicplayer-played {
			cursor: crosshair;
		}
		
		&:hover {
			.qt-mplayer-track-minicue {
				display: block;
			}
		}
		&::after {
			display: block;
			clear: both;
			width: 100%;
			content: " ";
		}
		.qt-play, .qt-cart {
			display: inline-block;
			float: left;
			width: 68px;
			height: 68px;
			text-align: center;
			line-height: 68px;
			display: inline-block;
			z-index: 20;
			position: relative;
			vertical-align: baseline;
			i {
				vertical-align: baseline;
				line-height: 68px;
				font-size: 36px;
			}
		}
		.qt-play-noclick {
			pointer-events: none;
		}
		.qt-cart {
			color: inherit;
			i {
				font-size: 24px;
			}
			
		}
		.qt-price {
			font-size: 12px;
			padding-left: 3px;
			padding-right: 3px;
			width: 80%;
			left: 0;
			vertical-align: middle;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p {
			width: calc(100% - 140px);
			float: left;
			padding-left: 22px;
			padding-top: .8rem;
			position: relative;
			z-index: 2;
			pointer-events: none;
		}
		.qt-tit {
			font-size: 13px;
			font-weight: bold;
		}
		.qt-art {
			font-size: 11px;
			a {
				color: inherit;
			}
			i {
				display: inline-flex;
				vertical-align: baseline;
				transform: translateY(-1px);
				margin-right: 4px;
			}
		}
		
		.qt-tit, .qt-art {
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
		}
		.qtmusicplayer-del {
			display: none;
		}

	}
}
.qt-mplayer-track-adv, .qt-mplayer-track-det {
	position: absolute;
	display: block;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	content: " ";
	opacity: .8;
}
.qt-mplayer-track-minicue {
	position: absolute;
	display: block;
	width: 1px;
	opacity: 0.5;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	content: " ";
	background: #fff;
	transition: left 0.02s ease;
	display: none;
}
.qt-mplayer-track-det {
	width: 100%;
	z-index: 2;
}
.qt-playlist-large {
	ul.qt-playlist {
		li {
			.qt-tit {
				font-size: 1.2rem;
				line-height: 1.3rem;
				font-weight: bold;
			}
			.qt-art {
				a {
					color: inherit;
				}
			}
		}
	}
}


.qt-play.qt-link-sec.qtmusicplayer-play-btn { 
	color: white;
	text-shadow: 0 0 8px rgba(0,0,0,0.7);
	opacity: 0.9;
	transition: all 0.3s;
}
