
/* 01. Generic styles
   ========================================================================== */
*,:before,:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-backface-visibility:hidden;
	margin: 0;
	padding: 0;
	outline: none !important;
}
.qt-bodybg{
    background-attachment: fixed;
    opacity: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    &::after {
    	display: block;
    	content: " ";
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	background: black;
    	opacity: 0.6;
    }
}
.valign-wrapper {
	display: block;
}
.qt-relative {
	position: relative;
}
iframe {
	border: none;
}
.qt-clearfix {
	&::after, &::before {
		display: block;
		width: 100%;
		clear: both;
		content: " ";
	}
	border: none;
	clear: both;
}
.qt-body {
	z-index: 2;
}
.qt-hidden {
	display: none;
}
.qt-invisible {
	opacity: 0;
}
a {
	outline: none !important;
}
a.qt-imglink {
	display: block;
	background: black;
	overflow: hidden;
	line-height: 0;
	margin: 0;
	img {
		will-change: filter;
		filter: brightness(100%);
		transition: filter 0.3s ease;
		will-change: filter;
	}
	&:hover {
		img {
			filter: brightness(130%);
		}
	}
}
.qt-featuredimage {
	margin-bottom: 1rem;
}
.qt-container {
	width: 100%;
	max-width: 860px;
	margin: 0 auto;
	padding: 0 0.75rem;
	.row {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
		&.qt-masonry {
			padding-bottom: 2rem;
		}
	}
}
.qt-container-l {
	max-width: 100%;
	padding: 0 1rem;
}
.qt-parentcontainer {
	position: relative;
	.qt-main {
		position: relative;
		padding: 80px 0 50px 0;
		.qt-main-contents {
			position: relative;
			z-index: 10;
			overflow: hidden;
			> .qt-caption {
				margin-top: 0;
			}
			> .vc_row {
			    margin: 0;
			    overflow-x: hidden;
			}
			&.qt-single-members {
				overflow: visible;
			}
		}
		.qt-main-contents-masonry {
			overflow: hidden;
		}
		.qt-pagebg-in {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			height: 100vh;
			width: 100vw;
			z-index: 0;
			opacity: 0;
			transition: opacity 0.5s, filter 0.5s;
			will-change: opacity, filter;
			filter: blur(50px);
		
			&.qt-bgloaded {
				opacity: 1;
				filter: blur(0px);
			}
		}	
		&.qt-page-visualcomposer {
			min-height: 50vh;
			padding: 0;
		}
	}
}
.qt-header-bg {
	position: absolute;
	z-index: 0;
	background: black;
	img {display: none;}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	transform: scale(1);
	will-change: opacity, transform;
	opacity: 0;
	transition: opacity 1.35s, transform 0.5s ease;
	&.qt-bgloaded { 
		opacity: 1;
	}
}
.qt-card {
	box-shadow: 0 2px 12px rgba(0,0,0,0.3);
	border-radius: $qt-border-radius;
	overflow: hidden;
}
.qt-card .collapsible, .qt-layer-bottom .collapsible  {
	box-shadow: none;
}
.row {
	margin: 0 -0.75em;
}
.qt-img-responsive {
	max-width: 100%;
	height: auto;
}
.qt-rotate-90 {
	 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
	  display: inline-block;
}
.qt-paddedcontent {
	padding: 1rem;
	.qt-caption-small:first-child {
		margin-top: 0;
	}
}
.qt-paddedcontent-s {
	padding: 1rem;
}
[data-bgimage] {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
[data-parallax="1"] {
	background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-position 0.1s;
}


.qt-blur-bg {
	filter: blur(7px);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	&.qt-feat-hor {
		width: 100%;
	}
	&.qt-feat-ver {
		width: auto;
		max-height: 80%;
		max-height: 80vh;
	}
}

/*  Spacers ==========================================================================*/

.qt-spacer-l {
	padding-top: 2.4rem;
}
.qt-spacer-m {
	padding-top: 1.6rem;
}
.qt-spacer-s {
	padding-top: 1rem;
}
.qt-spacer-xs {
	padding-top: 0.6rem;
}

hr[class^="qt-spacer"] {
	height: 0;
	border: none;
	background: transparent;
}
.qt-vertical-padding-l {
	padding: 2.4rem 0 1.8rem 0;
}
.qt-vertical-padding-m {
	padding: 1.6rem 0 1.3rem 0;
}
.qt-vertical-padding-s {
	padding: 1rem 0;
}

/*  Common items ==========================================================================*/

$qt-play-btn-size: 80px;
.qt-playbtn {
	width: $qt-play-btn-size;
	height: $qt-play-btn-size;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-left: -40px;
	margin-top: -40px;
	line-height: $qt-play-btn-size;
	text-align: center;
	border: 3px solid #fff;
	border-radius: 50%;
	font-size: 34px;
	color: #fff;
	transform: scale(1);
	i {
		text-align: center;
		line-height: $qt-play-btn-size;
		height: $qt-play-btn-size;
		top: 0;
		padding-left: 5px;
		transform: scale(1);
	}
	&:hover {
		opacity: 1 !important;
		animation: none;
		i {
			
		}
		transform: scale(1.1);
	}
}

.qt-scrollbarstyle {
	::-webkit-scrollbar {
	  width: 2px;
	  height: 2px;
	}
	::-webkit-scrollbar-button {
	  width: 0px;
	  height: 0px;
	}
	::-webkit-scrollbar-thumb {
	  background: #999;
	  border: 0px none #999;
	  border-radius: 0px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #999;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #000000;
	}
	::-webkit-scrollbar-track {
	  background: #666666;
	  border: 0px none #999;
	  border-radius: 0;
	}
	::-webkit-scrollbar-track:hover {
	  background: #666666;
	}
	::-webkit-scrollbar-track:active {
	  background: #333333;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}
}

[class*="qt-darken-bg-"] {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: " ";
	background: #000;
	top: 0;
	left: 0;
	opacity: 0;
}
#qtPageBg [class*="qt-darken-bg-"] {
	position: fixed;
}

.qt-darken-bg-10 {
	opacity: 0.1;
}
.qt-darken-bg-20 {
	opacity: 0.2;
}
.qt-darken-bg-30 {
	opacity: 0.3;
}
.qt-darken-bg-40 {
	opacity: 0.4;
}
.qt-darken-bg-50 {
	opacity: 0.5;
}
.qt-darken-bg-60 {
	opacity: 0.6;
}
.qt-darken-bg-70 {
	opacity: 0.7;
}
.qt-darken-bg-80 {
	opacity: 0.8;
}
.qt-darken-bg-90 {
	opacity: 0.9;
}

.qt-pageheader {
	padding: 30px 0 70px 0;
	z-index: 100;
	position: relative;
	.qt-featuredimage {
		margin-bottom: 5px;
	}
}
.col.s12.valign-wrapper {
	margin-left: -0.7rem;
    margin-right: -0.7rem;
}
