.markercontents h5 {
	color: #000;
}
.qtPlaces-container .qtPlaces-list .qtPlaces-entry a.roundbtn i {
	line-height: 0.9em;
}
.qtPlaces-container .qtPlaces-menuswitch i {
	top: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    vertical-align: baseline;
    line-height: 1em;

}