/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;

	min-height: 1px;

	&.qt-item-card {
		max-width: 500px;
		max-width: 90vw;
	}
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}


.qt-slickslider-outercontainer {
	.qt-slickslider-container {
		position: relative;
		&.qt-singleslide {
			margin: 0 -1rem;
			.slick-slider {
				.qt-item {
					margin: 0 1rem;
				}
			}
		}
	}
	.slick-slider {
		.qt-item {
			padding-top: 1rem;
			margin: 0 0 1rem 0;
			outline: none;
			backface-visibility: hidden;
			
			
			&.qt-slick-opacity-fx {
				opacity: 0.5;
				transition: opacity 0.3s;
				transition-delay: 0.3s;
			}
			
			&.slick-center {
				opacity: 1;
			}
			&.qt-slick-scale-fx {
				transition: opacity 0.3s, transform 0.3s;
				transition-delay: 0.1s;
				transform: scale(0.8);

			}
			&.slick-center {
				transform: scale(1);
			}
		}
		.qt-card-featured {
			padding-bottom: 15px;
		}

		/* This is for sliders with multiple items, to use the cols padding of materializecss */
		&.qt-slickslider-multiple {
			.qt-item {
				@extend .col;
				@extend .s12;
			}

		}
	}
	.qt-carouselcontrols {
		i {
			font-size: 28px;
			width: 28px;
			cursor: pointer;
		}
	}
	.slick-dots {
		position: absolute;
		top: -61px;
		right: 85px;
		width: calc(30% - 60px);
		display: flex;
		li {
			display: table-cell;
			width: 100%;
			text-align: center;
			overflow: hidden;
			background: none;
			background-color: none;
			padding: 23px 0 0 0;
			list-style: none;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
			flex: 1 1 0;
			button {
				display: block;
				content: " ";
				background: #fff;
				opacity: 0.7;
				height: 4px;
				width: auto;
				color: transparent;
				border: none;
				width: 100%;
			}
			&.slick-active {
				button {
					opacity: 1;
				}
			}
		}
	}
	&__center {
		margin-bottom: 40px;
		.qt-carouselcontrols {
			position: absolute;
			top: 50%;
			width: 100%;
			background: red;
			i {
				position: absolute;
				left: -40px;
				width: 50px;
				height: 50px;
				line-height: 0;
				background: transparent;
				display: inline-block;
				text-align: center;
				content: " ";
				transform: rotate(135deg);
				border-right: 3px solid;
				border-bottom: 3px solid;
				transition: border 0.2s ease;
				border-radius: 6px;
				&::after {
					display: block;
					border: 3px solid;
					content: " ";
					width: 8px;
					height: 8px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -3px 0 0 -3px;
					border-radius: 2px;
					transition: margin 0.3s ease;
				}
				&:last-child {
					left: auto;
					right: -40px;
					transform: rotate(-45deg);
				}
				&:hover {
					border-right: 4px solid;
					border-bottom: 4px solid;
					&::after {
						margin: -0px 0 0 -0px;
					}
				}
			}	

		}
		.slick-dots {
			top: auto;
			left: 35%;
			width: 30%;
			right: auto;
			li {
				padding-top: 1rem;
			}
		}
	}
}

.qt-negative .qt-slickslider-outercontainer .slick-dots li button {
	background: #fff;
}