.qt-text-shortened {
	position: relative;
	.qt-text {
		height: 3.6em;
		overflow: hidden;
		position: relative;	
		transition: height 0.2s ease;
		will-change: height;
		padding-bottom: 1rem;
		&.qt-tall {
			height: 24em;
		}
	}

	.qt-shorten-trigger {	
		position: relative;
		
		padding-top: 1.4rem;
		
		width: 100%;
		i {
			line-height: inherit;
		}
	}
	.qt-less {
		display: none;
	}
	&.active { 
		.qt-text {
			max-height: none;
			height: auto;
		}
		.qt-less {
			display: block;
		}
		.qt-more {
			display: none;
		}
		.qt-shorten-trigger {
			background: transparent;
		}
	}
}


