$qt-max-container-size: 1170px;
$qt-border-radius: 4px;
$qt-border-radius-s: 2px;
$input-border: 2px solid rgba(100,100,100,0.5);

// Media Query Ranges
$small-screen-up: 380px;
$medium-screen-up: 768px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;


$small-and-up: "only screen and (min-width : #{$small-screen-up})" ;
$medium-and-up: "only screen and (min-width : #{$medium-screen-up})";
$large-and-up: "only screen and (min-width : #{$large-screen-up})";
$xl-and-up: "only screen and (min-width : #{$large-screen-up})";

$xl-and-down: "only screen and (max-width : #{$large-screen})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$large-and-down:  "only screen and (max-width : #{$large-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";


$tablets-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})";


$qt-base-mobile: 16px;
$qt-lineheight-mobile: 1.5em;
$qt-font-scale: 1.414;

@function calculateRem($size) {
  $remSize: $size / $qt-base-mobile;
  @return $remSize;
}