@charset "UTF-8";
@import "theme-globals";
@import "custom_colors";


/* Text colors
===================================================================================================================== */
body, html, .qt-nclinks a {
	color: $qt-text-color;
}
h1, h2, h3, h4, h5, h6 {
	color: $qt-titles-color;
}
.qt-part-archive-item.qt-open .qt-headings .qt-tags a, .qt-link-sec, .qt-caption-small::after, .qt-content-aside a, .tabs .tab a{
	color: $qt-color-secondary;
}
.tabs .tab a:hover {
	color: $qt-color-secondary-hover;
}
.tagcloud a, .qt-content-aside .tagcloud a:hover {
	color: #fff;
}

/* Background colors 
===================================================================================================================== */
body, html, .qt-main{
	background-color: $qt-color-background;
}
.qt-paper {
	background-color: $qt-color-paper;
}
.qt-content-primary-light {
	background-color: $qt-primary-color-light;
}
.qt-content-primary {
	background-color: $qt-primary-color;
}
.qt-content-primary-dark {
	background-color: $qt-primary-color-dark;
}
.qt-content-accent, .qt-menubar ul.qt-desktopmenu li li::after {
	background-color: $qt-color-accent;
}
.qt-content-secondary, .qt-material-slider .indicator-item.active, .tabs .indicator {
	background-color: $qt-color-secondary;
}
.qt-tags a, .tagcloud a {    
	background-color: $qt-color-secondary;
}
.qt-part-archive-item.qt-open .qt-headings, .qt-btn-secondary, .qt-sectiontitle::after,  h2.widgettitle::after  {
	background-color: $qt-color-secondary;
}
.qt-btn-primary , .qt-menubar ul.qt-desktopmenu > li.qt-menuitem > a::after, .qt-footer-widgets .qt-widget-title span::after, input[type="submit"] {
	background-color: $qt-color-accent;
}

/* Desktop hover states colors
===================================================================================================================== */
@media #{$large-and-up} {
	a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
		color: $qt-color-accent-hover;
	}
	.qt-content-aside a:hover {
		color: $qt-color-secondary-hover;
	}
	.qt-btn-primary:hover, input[type="submit"]:hover {
		background-color: $qt-color-accent-hover;
		color: #fff;
	}
	.qt-btn-secondary:hover, .qt-mplayer:hover .qt-mplayer__play:hover, .qt-mplayer__volume:hover, .qt-mplayer__cart:hover, .qt-mplayer__seeker:hover , .qt-mplayer__prev:hover, .qt-mplayer__next:hover, .qt-mplayer__playlistbtn:hover, .qt-content-aside .tagcloud a:hover {
		background-color: $qt-color-secondary-hover;
		color: #fff;
	}

}


